[Unit]
Description=Imapfilter and Isync Service

[Service]
Type=oneshot
ExecStart=/usr/bin/imapfilter
ExecStart=/usr/bin/mbsync -V fast
# Give 60 seconds for imapfilter and mbsync to gracefully stop before hard
# killing it.
TimeoutStopSec=60
#Restart=on-watchdog
#WatchdogSec=300
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=default.target
