[Unit]
Description=Kanshi (dynamic output configurator)
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/kanshi
Slice=session.slice
Restart=on-failure

[Install]
WantedBy=graphical-session.target
