[Unit]
Description=Noctalia Shell (QuickShell)
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/qs -c noctalia-shell
Slice=session.slice
Restart=on-failure

[Install]
WantedBy=graphical-session.target
