[Unit]
Description=Gitit wiki

[Service]
Type=simple
WorkingDirectory=%h/.gitit
ExecStart=/home/gdmsl/.cabal/bin/gitit -f %h/.gitit/wiki.conf
Restart=no

[Install]
WantedBy=console.target

