[Unit]
Description=Gitit wiki

[Service]
Type=simple
WorkingDirectory=%h/Public/BeagleWiki
ExecStart=/home/gdmsl/.local/bin/gitit -f gitit.conf
Restart=no

[Install]
WantedBy=default.target

