[user]
	email = guido.masella@gmail.com
	name = Guido Masella
[push]
	default = simple
[url "https://aur.archlinux.org/"]
    insteadOf = aur:
[init]
	templatedir = ~/.git_template
[alias]
    ctags = "!sh -c '[ -f .git/hooks/ctags ] || git init; .git/hooks/ctags' git-ctags"
