[submodule "nvim/.config/nvim/vim-plug"]
	path = nvim/.config/nvim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "unigine-sanctuary"]
	path = unigine-sanctuary
	url = aur:unigine-sanctuary
[submodule "unigine-tropics"]
	path = unigine-tropics
	url = aur:unigine-tropics
[submodule ".auxiliary/gnuplot-configs"]
	path = .auxiliary/gnuplot-configs
	url = https://github.com/Gnuplotting/gnuplot-configs.git
[submodule ".auxiliary/gnuplot-palettes"]
	path = .auxiliary/gnuplot-palettes
	url = https://github.com/Gnuplotting/gnuplot-palettes.git
[submodule "zsh/.my-oh-my-zsh/themes/powerlevel9k"]
	path = zsh/.my-oh-my-zsh/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
