# Temp or Backup files
*~
*.swp

# Python compiled or object files
*.pyo
*.pyc

# History files
*_history

# Log files
*.log

# Ignore vim installed bundles
.vim/bundle/*

# emacs el files
emacs/*/config.el

