! xterm settings --------------------------------------------------------------

! make xterm 256 color compatible
xterm*termName:		xterm-256color

! enable UTF-8 locale
xterm*locale:		true
xterm*utf8:		2

! fonts and colors
xterm*faceName:		Source Code Pro::size=10
xterm*font:		7x13
xterm*dynamicColors:	true
xterm*eightBitInput:	true

! scrollback and scrollbar
xterm*saveLines:	10240
xterm*scrollBar:	false
xterm*toolBar:		false

! urxvt settings --------------------------------------------------------------
URxvt*scrollBar:    false
URxvt.font: xft:Source Code Pro:size=10
URxvt.letterSpace: -2

! colorscheme
!#include "/home/gdmsl/.xrdb/solarized.xrdb"
#include "/home/gdmsl/.xrdb/tomorrownight.xrdb"

