! xterm settings --------------------------------------------------------------

! make xterm 256 color compatible
xterm*termName:		xterm-256color

! enable UTF-8 locale
xterm*locale:		true
xterm*utf8:		2

! fonts and colors
xterm*faceName:		Terminus:style=Regular:size=10
xterm*dynamicColors:	true
xterm*eightBitInput:	true

! scrollback and scrollbar
xterm*saveLines:	10240
xterm*scrollBar:	false
xterm*toolBar:		false


! terminal colors: tango ------------------------.-----------------------------

! background and foreground
!*background: #111111
!*foreground: #babdb6
!
!! Black (not tango) + DarkGrey
!*color0:  #000000
!*color8:  #555753
!
!! DarkRed + Red
!*color1:  #ff6565
!*color9:  #ff8d8d
!
!! DarkGreen + Green
!*color2:  #93d44f
!*color10: #c8e7a8
!
!! DarkYellow + Yellow
!*color3:  #eab93d
!*color11: #ffc123
!
!! DarkBlue + Blue
!*color4:  #204a87
!*color12: #3465a4
!
!! DarkMagenta + Magenta
!*color5:  #ce5c00
!*color13: #f57900
!
!!DarkCyan + Cyan (both not tango)
!*color6:  #89b6e2
!*color14: #46a4ff
!
!! LightGrey + White
!*color7:  #cccccc
!*color15: #ffffff



! terminal colors: solarized --------------------------------------------------
! http://ethanschoonover.com/solarized

! Common colors
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark color sheme
#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

! Light color sheme
! #define S_base03        #fdf6e3
! #define S_base02        #eee8d5
! #define S_base01        #93a1a1
! #define S_base00        #839496
! #define S_base0         #657b83
! #define S_base1         #586e75
! #define S_base2         #073642
! #define S_base3         #002b36

! colorscheme
*background:              S_base03
*foreground:              S_base0
*fading:                  40
*fadeColor:               S_base03
*cursorColor:             S_base1
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1

*color0:                  S_base02
*color1:                  S_red
*color2:                  S_green
*color3:                  S_yellow
*color4:                  S_blue
*color5:                  S_magenta
*color6:                  S_cyan
*color7:                  S_base2
*color9:                  S_orange
*color8:                  S_base03
*color10:                 S_base01
*color11:                 S_base00
*color12:                 S_base0
*color13:                 S_violet
*color14:                 S_base1
*color15:                 S_base3
