! xterm settings --------------------------------------------------------------

! make xterm 256 color compatible
xterm*termName:		xterm-256color

! enable UTF-8 locale
xterm*locale:		true
xterm*utf8:		2

! fonts and colors
xterm*faceName:		Terminus::size=10
xterm*font:		7x13
xterm*dynamicColors:	true
xterm*eightBitInput:	true

! scrollback and scrollbar
xterm*saveLines:	10240
xterm*scrollBar:	false
xterm*toolBar:		false

! colorscheme
!#include "/home/guido/.xrdb/solarized.xrdb"
#include "/home/guido/.xrdb/tango2.xrdb"

