@import url("screen.css"); /* default gitit screen styles */
@import url("hk-pyg.css"); /* for syntax highlighting */

/* Put your custom style modifications here: */
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    font-family: 'Roboto'
}

img {
    max-width: 100%
}

.figure {
    text-align: center;
    margin: auto;
    max-width:80%;
    border: 5px solid grey;
}

.caption {
    width:100%;
    background-color: grey;
    color: white;
    margin: auto;
    text-align: center;
    font-style: italic;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid black;
    padding 5px;
}

/* My custom Gitit CSS styling, in part based on Twitter Bootstrap */

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-color: rgb(255,255,255);
  font-weight: 300;
  color: rgb(51, 51, 51);
}

p, pre, code {
    line-height: 1.388;
    margin-bottom: 1.5em;
    font-weight: 400;
}

ul {
  list-style-type: disc;
  display: block;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 15px;
}

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
}

pre {
  background: #f4f8fa;
  border-left: 3px solid #5bc0de;
  margin: 20px 0;
  padding: 20px;
}

blockquote {
  margin: 0 0 20px;
  font-size: 16px;
  border-left: 5px solid #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  line-height: 39px;
  color: rgb(51, 51, 51);
  text-rendering: optimizelegibility;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #dfdfdf;
}

.pageTitle {
    border: none;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

h1 small {
  font-size: 24.5px;
}

h2 small {
  font-size: 17.5px;
}

h3 small {
  font-size: 14px;
}

h4 small {
  font-size: 14px;
}

table {
    margin-left: 2em;
}

.header {
    background: #dfdfdf;
    color: black;
}

.odd {
    background: #f9f9f9;
}

.even {
    background: white;
}

th,
td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #dddddd;
}

th {
  font-weight: bold;
}

tr:hover,
td:hover {
  background-color: #e8f8fd
}

a:link,
a:visited {
  color: #428bca;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}

.bib {
    background: #f4f8fa;
    padding: 10px;
}


/* viz */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#wikipage img {
  padding-top: 20px;
  padding-bottom: 20px;
}

.figure {
    float: right;
    margin-left: 20px;
}

.figure img {
    width:350px; /* you can use % */
    height: auto;
}

.caption {
    font-size: 12px;
    font-style: italic;
}
