#!/bin/sh
#
# ~/.xprofile
#

# sourcing all files in ~/.xprofile.d
if [ -d $HOME/.xprofile.d ]; then
  for f in $HOME/.xprofile.d/*; do
    if [ -x "$f" ]; then
        source "$f"
    fi
  done
  unset f
fi


# disable mouse acceleration
if [ "$HOSTNAME" != "rubick" ]; then
    xset m 0 0
fi


# Loading default xlayout
if [ -e ~/.screenlayout/default.sh ]; then
    ~/.screenlayout/default.sh
fi


# new keyboard bindings
if [ -e ~/.xbindkeysrc ]; then
    xbindkeys
fi


# Mozilla configurations
export MOZ_USE_OMTC=1

# use webrenderer everywhere but not at work
if [ $HOSTNAME != "tachanka" ]; then
    export MOZ_X11_EGL=1
    export MOZ_WEBRENDER=1
fi


# QT5 style
# export QT_QPA_PLATFORMTHEME=qt5ct


# GTK2 Config files
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"


# SSH Agent
if ! pgrep -u "$USER" ssh-agent > /dev/null; then
    ssh-agent > "$XDG_RUNTIME_DIR/ssh-agent.env"
fi
if [[ ! "$SSH_AUTH_SOCK" ]]; then
    source "$XDG_RUNTIME_DIR/ssh-agent.env" > /dev/null
fi
