#!/bin/sh
#
# ~/.xprofile
#

# sourcing all files in ~/.xprofile.d
if [ -d $HOME/.xprofile.d ]; then
  for f in $HOME/.xprofile.d/*; do
    [ -x "$f" ] && . "$f"
  done
  unset f
fi

# load the Xresources
[[ -f ~/.Xresources ]] && xrdb ~/.Xresources

if [ "$HOSTNAME" = "rubick" ]; then
    xrdb -merge ~/.xrdb/fullhd.xresources
fi

[[ -f ~/.screenlayout/default.sh ]] && ~/.screenlayout/default.sh

#wallpaper
nitrogen --restore &

#polkit agent
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

#if [ "$HOSTNAME" = "alchemist" ]; then
#    cat ~/.xbindkeys.d/m1.xbind > ~/.xbindkeysrc
#    exec xbindkeys
#fi

export MOZ_USE_OMTC=1

export GTK2_RC_FILES="$HOME/.gtkrc-2.0"

