! xterm settings --------------------------------------------------------------

! make xterm 256 color compatible
xterm*termName:		xterm-256color

! enable UTF-8 locale
xterm*locale:		true
xterm*utf8:		2

! fonts and colors
xterm*faceName:		Hack::size=10
xterm*font:		6x13
xterm*dynamicColors:	true
xterm*eightBitInput:	true

! scrollback and scrollbar
xterm*saveLines:	10240
xterm*scrollBar:	false
xterm*toolBar:		false

! urxvt settings --------------------------------------------------------------
URxvt*scrollBar:            false
URxvt.font:                 xft:Hack:size=10
URxvt.letterSpace:          -2
URxvt.perl-ext-common:      default,matcher,clipboard,selection-to-clipboard
URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: true
URxvt.keysym.M-c:           perl:clipboard:copy
URxvt.keysym.M-v:           perl:clipboard:paste
URxvt.keysym.M-C-v:         perl:clipboard:paste_escaped
URxvt.matcher.button:       1
URxvt*saveLines:            12000
URxvt*cursorUnderline:      true
URxvt*cursorBlink:          true

! xft settings ---------------------------------------------------------------
!Xft.dpi:        96
Xft.lcdfilter:  lcddefault
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  slight

! rofi -----------------------------------------------------------------------
rofi.bg:    #262626
rofi.fg:    #ebdbb2
rofi.font:  Hack 10
rofi.hlfg:  #ebdbb2
rofi.hlbg:  #484848
rofi.bc:    #606060
rofi.bw:    2
rofi.o:     85
rofi.terminal:  xterm

! colorscheme
#include "/home/gdmsl/.xrdb/gruvbox.xresources"

