! xterm settings --------------------------------------------------------------

! make xterm 256 color compatible
xterm*termName:		xterm-256color

! enable UTF-8 locale
xterm*locale:		true
xterm*utf8:		2

! fonts and colors
xterm*faceName:		Source Code Pro::size=10
xterm*font:		6x13
xterm*dynamicColors:	true
xterm*eightBitInput:	true

! scrollback and scrollbar
xterm*saveLines:	10240
xterm*scrollBar:	false
xterm*toolBar:		false

! urxvt settings --------------------------------------------------------------
URxvt*scrollBar:            false
URxvt.font:                 xft:Source Code Pro:size=10
URxvt.letterSpace:          -2
URxvt.perl-ext-common:      default,matcher,clipboard,selection-to-clipboard
URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: true
URxvt.keysym.M-c:           perl:clipboard:copy
URxvt.keysym.M-v:           perl:clipboard:paste
URxvt.keysym.M-C-v:         perl:clipboard:paste_escaped
URxvt.matcher.button:       1
URxvt*saveLines:            12000
URxvt*cursorUnderline:      true
URxvt*cursorBlink:          true

! xft settings ---------------------------------------------------------------
!Xft.dpi:        120
Xft.lcdfilter:  lcddefault
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  slight

! rofi -----------------------------------------------------------------------
rofi.color-window: #282828,#282828
rofi.color-normal: #282828,#b8b8b8,#282828,#7cafc2,#282828
rofi.color-active: #282828,#b8b8b8,#282828,#7cafc2,#282828
rofi.font:  Source Code Pro 10
rofi.bw:    2
rofi.o:     85
rofi.terminal:  xterm
rofi.location:  2

! colorscheme
#include "/home/gdmsl/.xrdb/base16-default.dark.256.xresources"

