[
  {
    title: "Worm Next"
    group: "work"
    paths: [
      "/home/gdmsl/src/worm-next"
    ]
  }
  {
    title: "AWMC"
    group: "work"
    paths: [
      "/home/gdmsl/src/awmc"
    ]
  }
  {
    title: "ALPS"
    group: "work"
    paths: [
      "/home/gdmsl/src/alps"
    ]
  }
  {
    title: "Wiki"
    group: "docs"
    paths: [
      "/home/gdmsl/log/wiki"
    ]
  }
]
