[Desktop Entry]
Version=1.0.2.4
Name=Dungeondraft
Comment=Dungeondraft is a tabletop encounter map creation tool designed to draw aesthetic maps without the typical frustrations and time investment.
Exec=/home/gdmsl/Software/Dungeondraft-1.0.2.4-Linux64/Dungeondraft.x86_64
Path=/home/gdmsl/Software/Dungeondraft-1.0.2.4-Linux64/
Icon=/home/gdmsl/Software/Dungeondraft-1.0.2.4-Linux64/Dungeondraft.png
Terminal=false
Type=Application
Categories=Graphics
