configuration {
    modi: "combi,drun,run,window,ssh";
    font: "Fira Code 12";
    combi-modi: "drun,run,window,ssh";
    threads: 2;
    show-icons: true;
    icon-theme: "Papirus-Dark";
}


@theme "~/.config/rofi/slate.rasi"
