[Desktop Entry]
Name=NeoVim Text Editor
Comment=Edit text files
Exec=nvim
Terminal=true
Type=Application
Icon=terminal
Categories=Utility;TextEditor;
StartupNotify=true
MimeType=text/plain;
