[Unit]
Description=Dockercraft
Requires=/usr/lib/systemd/system/docker.service
After=/usr/lib/systemd/system/docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a dockercraft
ExecStop=/usr/bin/docker stop -t 2 dockercraft

[Install]
WantedBy=multi-user.target
